<div class="row">
  <div class="columns large-12 panel">
    <div class="h1">Список номеров</div>
  </div>
</div>
<div class="row">
  <div class="large-12 colum panel">
    <table class="table table-hover">
      <thead>
          <tr>
          <th>Статус</th>
          <th>Задержка</th>
          <th>Номер</th>
          <th>Контекст</th>
          <th>Ид</th>
          <th>Параметры</th>
        </tr>
        <tbody>
          <% @phones.each do |phone| %>
            <tr>
              <td>
                 <%= image_tag(phone.status.image, class: 'list_image') %>
              </td>
              <td>
                <%= phone.delay %>
              </td>
              <td>
                <%= phone.number %>
              </td>
              <td>
                <%= phone.context.name %>
              </td>
              <td>
                <%= phone.callerid %>
              </td>
              <td>
                <%= link_to 'Показать', phone_path(phone), method: :get %>
              </td>
            </tr>
          <% end %> 
        </tbody>
      </thead>

</table>
  </div>
</div>
<div class="row">
    <%= link_to 'Добавить номер', new_phone_path, method: :get, class: "button" %> 

</div>
